*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.prefs

foody/.project

Diner/.classpath

Diner/.mvn/wrapper/maven-wrapper.properties

Diner/.project

Diner/.settings/org.eclipse.wst.common.project.facet.core.xml

Diner/.springBeans

foody/.classpath

foody/.settings/org.eclipse.wst.common.project.facet.core.xml

foody/.mvn/wrapper/maven-wrapper.properties
